.entry-form {
  padding: 2em;

  input.text-field {
    padding: 12px;
    font-size: 15px;
    outline: none;
    display: block;
    width: 230px;
    margin: 10px auto;
    border: none;
    border-radius: 0.3rem;
  }
}

