.item-container {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  min-height: 70px;
  width: 150px;
  margin: 10px 0;
}

.item-container-inner {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-right: 10px;
  position: absolute;
  top: -30px;

  .like-container {
    display: flex;

    .like-button {
      &:hover {
        cursor: pointer;
      }
    }

    .like-number {
      margin-left: 5px;
    }
  }

  .delete-button {
    position: relative;
    font-weight: 500;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 30px;
    top: 10px;

    .dli-minus {
      display: inline-block;
      vertical-align: middle;
      color: #ddd;
      line-height: 1;
      width: 0.4em;
      height: 0.08em;
      background: currentColor;
      border-radius: 0.1em;
    }
  }
}

.item-content {
  display: flex;
  width: 85%;
  height: 80%;
  align-items: center;
  position: absolute;
  padding: 0 20px;
}

.item-name {
  display: inline-block;
  margin-bottom: 5px;
  width: 200px;
  text-align: left;
}

.item-comment {
  display: inline-block;
  text-align: left;
}