.item-container {
  display: flex;
  align-items: center;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  min-height: 80px;
  width: 500px;
}

.rating {
  display: flex;
  margin-right: 10px;
  position: relative;
  top: -50px;
}

.star {
  color: gold;
  font-size: 24px;
}

.item-content {
  position: absolute;
  padding: 0 20px;
}

.item-name {
  display: inline-block;
  margin-bottom: 5px;
  width: 200px;
  text-align: left;
}

.item-comment {
  display: inline-block;
  text-align: left;
}