@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #222;
  background-color: #fff7e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.app-title {
  font-family: 'Aoboshi One', sans-serif;
}

/* Modal Window */
.ReactModal__Overlay {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

// Modal
.modal-item-content {
  position: absolute;
  display: flex;
  flex-direction: column; // 縦方向のflex-box
  inset: 50px;
  border: 1px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  height: 50%;
  max-width: 492px; // SPの画面幅くらい
  margin: 0 auto;
}

.modal-close-button {
  display: block;
  margin-left: auto;
  font-weight: 500;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 30px;

  &:hover {
    cursor: pointer;
  }

  .modal-close {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;

    &::after, &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 3px; /* 棒の幅（太さ） */
      height: 20px; /* 棒の高さ */
      background: #888;
    }

    &::before {
      transform: translate(-50%,-50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:hover {
      &::after, &::before {
        transition: 0.3s;
        background: #555;
      }
    }
  }
}

// button
button {
  background: none;
  outline: none;
  font: inherit;
  border: none;
}

.orange-button-primary {
  background: #ff8c00;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 180px;
  display: block;
  margin: 20px auto;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
  }
}


.orange-button-secondary {
  background: transparent;
  font-weight: 800;
  color: #ff8c00;
  padding: 10px;
  width: 180px;
  display: block;
  margin: 0 auto;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
}

@media screen and (max-width: 480px) {
  .modal-item-content {
    inset: 5vw;
  }
}
